services:
  db:
    container_name: postgres_container
    image: postgres:15
    ports:
      - '5430:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
    - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: